{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <div class="container">
      <br/>

	   	<!-- fill the input textbox when buttons are clicked -->
		<script> 
			function moveNumbers(num) { 
		    	var txt=document.getElementById("expression_input").value; 
		    	txt=txt + num; 
		    	document.getElementById("expression_input").value=txt; 
		    } 
		</script>

      <div class="row">
        <div class="col-md-6">
	   		<div class="form group">
	   		<!-- letter input box -->


            <input type="text" name="text" class="form-control" id="expression_input" placeholder="Enter your letters (Note: 7 character maximum)" maxlength="7">

            <br></br>


            <!-- submit button -->
			<div>
			  <button id="get_word_combos" type="submit" class="btn btn-primary"%>Get word combinations</button>
			</div>

			<br></br>

	   		<!-- word list output -->
			<div class="well well-sm" id="question_text">
			{{answer_text|safe}}
			</div>


	   </div>
        </div>
    </div>
    <!-- /.container -->
  </dl>

</form>
{% endblock %}


