{% extends "layout.html" %}
{% block body %}

HTTP 200 OK
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept

{
    "users": "http://cloud.openshot.org/users/",
    "projects": "http://cloud.openshot.org/projects/",
    "files": "http://cloud.openshot.org/files/",
    "clips": "http://cloud.openshot.org/clips/",
    "effects": "http://cloud.openshot.org/effects/",
    "exports": "http://cloud.openshot.org/exports/"
}

<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <div class="container">
      <br/>

      <div class="row">
        <div class="col-md-6">
	   		<div class="form group">

            <!-- submit button -->
			<div>
			  <button id="get_video" type="submit" class="btn btn-primary"%>Get video timestamps</button>
			</div>

			<br></br>

	   		<!-- word list output -->
			<div class="well well-sm" id="question_text">
			{{answer_text|safe}}
			</div>


	   </div>
        </div>
    </div>
    <!-- /.container -->
  </dl>

</form>
{% endblock %}


