
<head>
  <title>Edit Video</title>
</head>

<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/fonts/favicon.png">
<title>Calculate</title>



<!-- Bootstrap core CSS -->

<!-- local copy... -->
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}"> -->

<!-- Check logs: "bootstrapcdn or not?" -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<!-- Custom styles for this template -->
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.css') }}"> -->

<!-- for nice looking icons (host this one locally too?) -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- Body -->
<div class=page>
  {% block body %}{% endblock %}
</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="/static/jquery-1.10.2.js"></script>  -->
<script src="/static/bootstrap.min.js"></script>