<video controls autoplay id="UserVideo"></video>

<script type="text/javascript">
	var UserVideo = document.getElementById('UserVideo')
	var playlist = [
		"C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid0.mp4",
		"C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid1.mp4",
		"C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid2.mp4",
	]
	var video_duration = [12, 9, 12] // fix later with: https://stackoverflow.com/questions/29285056/get-video-duration-when-input-a-video-file
	var activeVideo = 0
	UserVideo.src = playlist[activeVideo]

	UserVideo.addEventListener('ended', function(e) {
		// update the new active video index
		activeVideo = (++activeVideo) % playlist.length
		UserVideo.src = playlist[activeVideo]
		UserVideo.play()
	})
		
	// keyboard commands
	document.addEventListener('keyup', function (event) {
		if (event.defaultPrevented) {
			return;
		}

		var key = event.key || event.keyCode;

		// 5. skip backward 10 seconds
		if (key === 'a' || key === 65 || key === 'KeyA') {
			// if crossing between videos
			if (UserVideo.currentTime-5 < 0 && activeVideo > 0) {
				var time_elapsed_in_video = UserVideo.currentTime
				activeVideo -= 1
				UserVideo.src = playlist[activeVideo]

				// set an accurate time in the video
				UserVideo.currentTime = video_duration[activeVideo]-time_elapsed_in_video       
			}
			else {
				UserVideo.currentTime -= 5
			}       
		}
							
		// 5. skip forward 5 seconds
		else if (key === 'd' || key === 68 || key === 'KeyD') {
			// if crossing between videos
			if (UserVideo.currentTime+5 > UserVideo.duration) {
				var time_left_in_video = UserVideo.duration - UserVideo.currentTime

				// final video in sequence -> go back to first video.
				if (activeVideo != playlist.length-1) {
					activeVideo += 1
					UserVideo.src = playlist[activeVideo]

					// set an accurate time in the video
					UserVideo.currentTime = 5-time_left_in_video
				}
				else {
					UserVideo.currentTime = UserVideo.duration
				}
			}
			else {
				UserVideo.currentTime += 5
			}
		}
							
		// 5b. go back to start
		else if (key === 'o' || key === 79 || key === 'KeyO') {
			UserVideo.currentTime = 0
		}
							
		// 5c. skip to end
		else if (key === 'p' || key === 80 || key === 'KeyP') {
			UserVideo.currentTime = UserVideo.duration
		}
	});
</script>