<!DOCTYPE html>
<html>
<head>
	<title>test5</title>
	<!-- style for the canvas -->
	<style type="text/css">
		.canvas{
		   width:100%;
		   height:100%;
		   position:absolute; /* change */
		   left: 0; 
		   top: 0;
		   border: 1px solid black;
		}
	</style>
</head>
<body>
		<canvas class="canvas" id="canvas1_baseui"></canvas>
		<canvas class="canvas" id="canvas2_video"></canvas>
		<canvas class="canvas" id="canvas3_timeline"></canvas>
		<canvas class="canvas" id="canvas4_timeline_cursor"></canvas>
</body>
</html>

<script type="text/javascript">
	// introduce each canvas
	var canvas1_baseui = document.getElementById('canvas1_baseui');
	var canvas2_video = document.getElementById('canvas2_video');
	var canvas3_timeline = document.getElementById('canvas3_timeline');
	var canvas4_timeline_cursor = document.getElementById('canvas4_timeline_cursor');

	// set the play area for each canvas (for loop? for an array of canvases?)
	canvas1_baseui.width = window.innerWidth;
	canvas1_baseui.height = window.innerHeight;
	
	canvas2_video.width = window.innerWidth;
	canvas2_video.height = window.innerHeight;
	
	canvas3_timeline.width = window.innerWidth;
	canvas3_timeline.height = window.innerHeight;
	
	canvas4_timeline_cursor.width = window.innerWidth;
	canvas4_timeline_cursor.height = window.innerHeight;

	// set the "context" for each canvas
	var ctx1_baseui = canvas1_baseui.getContext('2d');
	var ctx2_video = canvas2_video.getContext('2d');
	var ctx3_timeline = canvas3_timeline.getContext('2d');
	var ctx4_timeline_cursor = canvas4_timeline_cursor.getContext('2d');

	// mouse object
	var mouse = {
		x: undefined,
		y: undefined
	} 

	// timeline variables:
	currently_dragged = false;

	// things to draw at the start:
		
	// the exterior timeline bar.
	ctx3_timeline.fillStyle = 'grey';
	ctx3_timeline.fillRect(100, innerHeight/2-5, innerWidth/2, 5);
	ctx3_timeline.fillRect(100, innerHeight/2+50, innerWidth/2, 5);

	function redraw_timeline_cursor() {
		//Display the timeline "cursor"
		ctx4_timeline_cursor.clearRect(0, innerHeight/2, innerWidth, 50);

		// "timeline cursor" bar.
		// "currently dragged" behaviour -> select an element?
		if (currently_dragged) {
			ctx4_timeline_cursor.fillStyle = 'green';
		}
		else {
			ctx4_timeline_cursor.fillStyle = 'red';
		}
		ctx4_timeline_cursor.fillRect(mouse.x-1, innerHeight/2, 1, 50);
	}

	// event listener
	// mouse movement behaviour
	window.addEventListener('mousemove', function(event)
	{
		mouse.x = event.x
		mouse.y = event.y
		console.log(mouse);
		redraw_timeline_cursor();
	})

	// mouse click and hold behaviour
	var mouseIsDown = false; // status of mouse click (maybe we could specify left/right click later.)

	window.addEventListener('mousedown', function() {
	  mouseIsDown = true;
	  setTimeout(function() {
	    if (mouseIsDown) {
	      console.log('hold');
	      currently_dragged = true;
	      redraw_timeline_cursor();
	    }
	  });
	});

	window.addEventListener('mouseup', function() {
	  mouseIsDown = false;
	  console.log('release');
	  currently_dragged = false;
	  redraw_timeline_cursor();
	});




</script>