<body>
  <!-- A canvas -->
  <canvas id="video_preview" width="1280" height="720"></canvas>

  <!-- A collection of video sources -->
  <!-- will need to "import" multiple local videos and play them somehow -->
  <video src="C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid0.mp4" id="video0" width="1280" height="720" hidden></video>

  <video src="C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid1.mp4" id="video1" width="1280" height="720" hidden></video>

  <video src="C:/Users/matt2/Dropbox/Desktop/pointfinder/cmd_interface/auto_generated_files/newvid2.mp4" id="video2" width="1280" height="720" hidden></video>
</body>


<script>
  var video_preview = document.getElementById('video_preview')
  var ctx = video_preview.getContext("2d")
  //
  var video0 = document.getElementById('video0')
  var video1 = document.getElementById('video1')
  var video2 = document.getElementById('video2')
  var videos = [video0, video1, video2]
  var currentVideoId = 0
  var renderTimerId
  var isPlaying = false

  function onLoadedData(video) {
    return function() {
      videos[0].removeEventListener('loadeddata', onLoadedData)
      if (video.id === 'video0') {
        ctx.drawImage(videos[0], 0, 0, 640, 360)
      }
    }
  }

  function onVideoEnd() {
    // go to next video
    if (currentVideoId < videos.length) {
      currentVideoId++
    } 

    window.clearInterval(renderTimerId)

    if (currentVideoId === videos.length) {
      // in case of last video, make sure to load 1st video so that it would start from the 1st frame 
      videos[0].load()
      // play from the start again? onLoadedData(videos[0])
    } 
    else {
      videos[currentVideoId].play()
    }
  }


  function onPlayPause() {
    window.clearInterval(renderTimerId)
    if (isPlaying) {
      videos[currentVideoId].pause()
    } 
    else {
      videos[currentVideoId].play()
    }
    isPlaying = !isPlaying // ooh
  }

  // play/pause on click
  video_preview.addEventListener('click', onPlayPause)


  // traverse each video?
  function play_videos_in_sequence() {
    videos.forEach((video) => {
      console.log("looking at "+video.id)

      // while a video is playing
      video.addEventListener('play', () => {
        //console.log("currently playing "+video.id)
        renderTimerId = window.setInterval(() => {

          console.log("renderTimerId: ", renderTimerId)
          ctx.drawImage(video, 0, 0, 640, 360)

          // // ooh. "totalCurrentTime"?
          // var totalCurrentTime = 0;
          // for (var i = 0; i < currentVideoId; ++i) {
          //   totalCurrentTime += videos[currentVideoId].duration
          // }
          // totalCurrentTime += videos[currentVideoId].currentTime
        }, 30) // what is the '30' for?

      })

      video.addEventListener('ended', onVideoEnd)
      video.addEventListener('loadeddata', onLoadedData(video))

    })
  }

  play_videos_in_sequence();

  // "preload" the other videos?
  for (i=1; i<videos.length; i++) {
    // should all videos be loaded now? what if there are 100's of them?
    videos[i].load()
  }
</script>

