<div id="message"></div>
<input type="file" accept="video/*"/>
<video id=UserVideo preload=auto oncanplay='InitControls(this)' ontimeupdate='UpdateTime(this)'></video>



<script type="text/javascript">

//var UserVideo = document.getElementById("UserVideo");

var frames_per_second = 60

var frame_length = 1/frames_per_second

// keypresses...

document.addEventListener('keyup', function (event) {
    if (event.defaultPrevented) {
        return;
    }

    var key = event.key || event.keyCode;

    // moving around
    if (key === 'ArrowLeft' || key === 37) {
        alert('rewind 5 seconds');
    }
    
    else if (key === 'ArrowRight' || key === 39) {
        alert('forward 10 seconds');
    }
    
    // maybe switch around 'q'/'e', 'z'/'c', 'arrow left/right' combos later.
    else if (key === 'ArrowUp' || key === 38) {
        alert('rewind 1 frame');
    }
    
    else if (key === 'ArrowDown' || key === 40) {
        alert('forward 1 frame');
    }
    
    else if (key === 'Space' || key === 32) {
        PlayPause(UserVideo,this,1);
        //alert('pause/play');
    }
    
    else if (key === 'p' || key === 80 || key === 'KeyP') {
        PlayPause(UserVideo,this,1);
        //alert('pause/play');
    }

    // slice and dice
    
    else if (key === 'a' || key === 65 || key === 'KeyA') {
        PauseVideo(UserVideo);
        FrameStep(UserVideo,this,-frame_length);
        PauseVideo(UserVideo);
        //alert('set as "start" of point');
    }
    
    else if (key === 'd' || key === 68 || key === 'KeyD') {
        PauseVideo(UserVideo);
        FrameStep(UserVideo,this,+frame_length);
        PauseVideo(UserVideo);
        //alert('set as "end" of point');
    }

    // ... some more traversing ... (related to video cuts though)
    
    else if (key === 'w' || key === 87 || key === 'KeyW') {
        FrameStep(UserVideo,this,-5);
        PlayVideo(UserVideo,playbutton,1);
        //alert('rewind to previous "start"/"end" of point');
    }
    
    else if (key === 's' || key === 83 || key === 'KeyS') {
        FrameStep(UserVideo,this,+10);
        PlayVideo(UserVideo,playbutton,1);
        //alert('skip to next "start"/"end" of point');
    }

    // misc

    // fullscreen
    else if (key === 'f' || key === 70 || key === 'KeyF') {
        UserVideo.webkitRequestFullScreen()
    }   
});



document.addEventListener('keydown', function (event) {
    if (event.defaultPrevented) {
        return;
    }

    var key = event.key || event.keyCode;

    // slice and dice
    
    if (key === 'a' || key === 65 || key === 'KeyA') {
        PauseVideo(UserVideo);
        // slower/choppier than frame-stepping forward?
        FrameStep(UserVideo,this,-frame_length);
        PauseVideo(UserVideo);
        //alert('set as "start" of point');
    }
    
    else if (key === 'd' || key === 68 || key === 'KeyD') {
        PauseVideo(UserVideo);
        PlayPause(UserVideo,this,0.2);
        //FrameStep(UserVideo,this,+frame_length);
        PauseVideo(UserVideo);
        //alert('set as "end" of point');
    }
});



// local video controls...  
(function localFileVideoPlayer() {
  'use strict'
  var URL = window.URL || window.webkitURL
  var displayMessage = function (message, isError) {
    var element = document.querySelector('#message')
    element.innerHTML = message
    element.className = isError ? 'error' : 'info'
  }
  var playSelectedFile = function (event) {
    var file = this.files[0]
    var type = file.type
    var videoNode = document.querySelector('video')
    var canPlay = videoNode.canPlayType(type)
    if (canPlay === '') canPlay = 'no'
    var message = 'Can play type "' + type + '": ' + canPlay
    var isError = canPlay === 'no'
    displayMessage(message, isError)

    if (isError) {
      return
    }

    var fileURL = URL.createObjectURL(file)
    videoNode.src = fileURL
  }
  var inputNode = document.querySelector('input')
  inputNode.addEventListener('change', playSelectedFile, false)
})()
</script>









<script type='text/javascript'>








function getTime(opt) {
  minsec = opt.value.split(':');
  return parseFloat( minsec[0]*60 + minsec[1] );
}

var curScene = StartScene;
var curSceneStart = getTime(StartScene);
var curSceneEnd = getTime(SecondScene);

function CheckForScene(pos) {
  if( curSceneStart <= pos && pos <= curSceneEnd ) return;
  curSceneEnd = 0; nextscene = scene = null; 
  for(sno in Scenes.childNodes) { cn = Scenes.childNodes[sno]; if(cn.tagName=="OPTION") {
	scene = nextscene; nextscene = Scenes.childNodes[sno]; 
	curSceneStart = curSceneEnd; curSceneEnd = getTime(nextscene);
	if( curSceneStart <= pos && pos < curSceneEnd && scene ) {
	  scene.selected = true;
	  return;
	}
  }}
  curSceneStart = curSceneEnd; curSceneEnd = UserVideo.duration; scene = nextscene; 
  if( curSceneStart <= pos && pos <= curSceneEnd && scene ) scene.selected = true;
}

var inited = false;

function InitControls(video) {
  if(inited) return;
  videopos.max = video.duration - 1;
  videopos.style.width = video.videoWidth;  // video.offsetWidth || video.innerWidth; 
  StartScene.selected = true;
  //videopos.style.width = UserVideoControls.offsetWidth || UserVideoControls.innerWidth;
  //video = document.querySelector("VIDEO");
  //videopos = document.getElementById("");
  inited = true;
}

var ratedelta = 0;
var buttons = [ 'playbutton','fstbwdbut','fstfwdbut','snailbut' ];
var savedicon = {};

//var timestamps = [[12, 19], [35, 42], [97, 100]];
var timestamps = [];
UserVideo.addEventListener("timeupdate", function() {
	
    if (UserVideo.currentTime <= timestamps[0][0]){
        UserVideo.currentTime = timestamps[0][0];
    }

    if (UserVideo.currentTime >= timestamps[0][1] && UserVideo.currentTime < timestamps[1][0]){
        UserVideo.currentTime = timestamps[1][0];
    }

    if (UserVideo.currentTime >= timestamps[1][1] && UserVideo.currentTime < timestamps[2][0]){
        UserVideo.currentTime = timestamps[2][0];
    }

    if (UserVideo.currentTime >= timestamps[2][1]){
        UserVideo.pause();
    }

}, false);

function PlayPause(video,but,rate) {
  if (video.paused||video.playbackRate + ratedelta != rate) PlayVideo(video,but,rate); else PauseVideo(video); 
}

function RestoreButtons() {
  for(butno in buttons) { but_id = buttons[butno]; but = document.getElementById(but_id);
	if(but_id in savedicon) but.value = savedicon[but_id]; }
}

function PlayVideo(video,but,rate) {
  //if (video.currentTime > 1) GotoPos(video, 14);
  if(video.paused) video.play(); 
  video.playbackRate = rate; 
  ratedelta = rate - video.playbackRate;
  RestoreButtons();
  if(!(but.id in savedicon)) savedicon[but.id] = but.value;
  but.value = String.fromCharCode('0x25AE','0x25AE');

}

function PauseVideo(video) {
  video.pause(); RestoreButtons();
}

function FrameStep(video,but,step) {
  //PauseVideo(video);
  video.currentTime =  video.currentTime + step;
  UpdateTime(video);
}

function RewindVideo(video) {
  PauseVideo(video);
  video.currentTime =  0;
  UpdateTime(video);
}

function UpdateTime(video) {
  videopos.value = video.currentTime; CheckForScene(video.currentTime);}

function GotoPos(video,newpos) {
  video.currentTime = newpos; CheckForScene(newpos); }

function SelectScene(video,selector) {
  minsec = selector.value.split(':');
  video.currentTime = parseFloat( minsec[0]*60 + minsec[1] );
  UpdateTime(video);
  PlayVideo(video,playbutton,1);
}

function Mute(video,but) {
  video.muted = !video.muted;
  but.style.color = video.muted ? 'silver' : 'black';
}

function AdjustVolume(video,value) {
  video.volume = value;
  VolumeTxt.innerHTML = Math.round(value*100)+'%'
}


function toggleFullScreen() {
  if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
  } else {
    if (document.exitFullscreen) {
      document.exitFullscreen(); 
    }
  }
}

</script>