{% extends "layout.html" %}
{% block body %}

<style>
.overlay {
		height: 10%;
		width: 20%;
		position: absolute;
		bottom: 20%;
		left: 5%;
		z-index: 2;
		background: white;
		opacity: 0.35;
	}

	table {
		font-size:2vw;
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 1px;
	}

	.canvas{
		 width:100%;
		 height:100%;
		 position:absolute;
		 left: 0; 
		 top: 0;
		 border: 1px solid black;
		}
</style>


<body>
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
	<!--  width="100%" height="100%" position="absolute" left="0" top="0" -->
		<canvas class="canvas" id="canvas1_baseui"></canvas>
		<canvas class="canvas" id="canvas2_video"></canvas>
		<canvas class="canvas" id="canvas3_timeline"></canvas>
		<canvas class="canvas" id="canvas4_timeline_cursor"></canvas>
	<div class="container">


		<div class="col-md-12">
		
			<input multiple id="choose_file" type="file" accept="video/*"/>
			<font size="1">
				<div>Start Points: <span id="user_timestamps"></span></div>
				<div id="message"></div>
			</font>




			<!-- Could be the scoreboard? -->
			<div class="overlay">
				<table border=1 frame=void rules=rows>
					<tr>
						<th>Player 1</th>
						<th>1</th>
						<th>0</th>
						<th>40</th>
					</tr>
					<tr>
						<td>Player 2</td>
						<td>2</td>
						<td>0</td>
						<td>15</td>
					</tr>
				</table>
			 </div>
			
			<!-- Video preview -->
			<video width="100%" id="UserVideo" autoplay ontimeupdate='play_edit(this)'></video>

			<!-- Progress/seek bar? -->
<!-- 			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				<div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
				<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
			</div> -->

			<!-- a bunch of buttons -->
			<div class="row">
				<div class="col-md-12">
					<div class="form group">

<!-- 			   		<div class="btn-toolbar mt-1" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group mr-1" role="group" aria-label="First group">
								<button type="button" class="btn btn-secondary mr-1" onclick="skip_to_start();">|<-</button>
								<button type="button" class="btn btn-secondary mr-1" onclick="fast_rewind();"><<<</button>
								<button type="button" class="btn btn-secondary mr-1" onclick="skip_backward_by_increment();">5<-</button>
								<button type="button" class="btn btn-secondary" onclick="frame_step_backward();"><</button>
							</div>
							<div class="btn-group mr-1" role="group" aria-label="Second group">
								<button type="button" class="btn btn-secondary" onclick="play_pause_video();">Play/Pause</button>
							</div>
							<div class="btn-group" role="group" aria-label="Third group">
								<button type="button" class="btn btn-secondary mr-1" onclick="frame_step_forward();">></button>
								<button type="button" class="btn btn-secondary mr-1" onclick="skip_forward_by_increment();">->5</button>
								<button type="button" class="btn btn-secondary mr-1" onclick="fast_forward();">>>></button>
								<button type="button" class="btn btn-secondary" onclick="skip_to_end();">->|</button>
							</div>
						</div>


						<div class="btn-toolbar mt-1" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group mr-1" role="group" aria-label="First group">
								<button type="button" class="btn btn-secondary mr-1" onclick="go_to_fullscreen();">Full Screen</button>
								<button type="button" class="btn btn-secondary mr-1" onclick="clear_current_point();">Undo<-</button>
								<button type="button" class="btn btn-secondary mr-1" onclick="add_timestamp('start_of_point');">[</button>
								<button type="button" class="btn btn-secondary" onclick="add_timestamp('end_of_point');">]</button>
							</div>
						</div>
 -->




					</div>
				</div>
			</div>



		</div>
	<!-- /.container -->

</form>
</body>



<!-- keyboard events -->
<script type="text/javascript">
	
	// Video variables
	var UserVideo = document.getElementById("UserVideo");
	var frames_per_second = 60
	var frame_length = 1/frames_per_second
	//var timestamps = [[0,0]];
	var timestamps = [[0,0],[11.149499,27.916655],[43.398623,46.770612],[62.854776,77.02182],[86.827509,104.009465],[130.962589,141.039164],[178.583966,185.383525],[199.109151,201.347525],[228.720753,233.360046],[255.042824,263.154518],[273.821519,284.419807],[306.667587,308.677622],[327.682161,332.908469],[347.549757,354.934564],[391.369907,398.595244],[422.3267,430.390473],[445.576999,448.730098],[471.90233,474.317949],[501.60528,509.53292],[530.658722]];
	var time_jump_duration = 5
	var fast_forward_rewind_speed = 5

	///////// keypresses.../////////////////////

	document.addEventListener('keyup', function (event) {
		if (event.defaultPrevented) {
			return;
		}

		var key = event.key || event.keyCode;

		//// moving around

		// 1. pause/play
		if (key === 's' || key === 83 || key === 'KeyS') {
			play_pause_video();
		}

		//// slice and dice
		
		// 2. frame step backwards
		else if (key === 'q' || key === 81 || key === 'KeyQ') {
			frame_step_backward();
		}
		
		// 3. frame step forwards
		else if (key === 'e' || key === 69 || key === 'KeyE') {
			frame_step_forward();
		}

		// 4. fast forward
		else if (key === 'c' || key === 67 || key === 'KeyC') {
			fast_forward();
		}


		// ... some more traversing ... (related to video cuts though)
		
		// 5. skip backward x seconds
		else if (key === 'a' || key === 65 || key === 'KeyA') {
			skip_backward_by_increment();
		}
		
		// 5. skip forward x seconds
		else if (key === 'd' || key === 68 || key === 'KeyD') {
			skip_forward_by_increment();
		}
		
		// 5b. go back to start
		else if (key === 'o' || key === 79 || key === 'KeyO') {
			skip_to_start();
		}
		
		// 5c. skip to end
		else if (key === 'p' || key === 80 || key === 'KeyP') {
			skip_to_end();
		}

		// next: go to next start/end timestamp

	});

	// run function when key is pressed down (if held down, it will run many times though) (from S.O.)
	// maybe "keypress" will be used to timing sensitive functions.
	function KeyPress(e) {
		var evtobj = window.event ? event : e

		// undo current/previous point
		if (evtobj.keyCode == 90 && evtobj.ctrlKey) {
			clear_current_point()
		} 

		// go to fullscreen
		else if (evtobj.keyCode === 'f' || evtobj.keyCode === 70 || evtobj.keyCode === 'KeyF') {
			go_to_fullscreen();	
		 }

		// set start of point
		else if (evtobj.keyCode === '[' || evtobj.keyCode === 219 || evtobj.keyCode === 'BracketLeft') {
			add_timestamp('start_of_point');
			}  

		// set end of point
		else if (evtobj.keyCode === ']' || evtobj.keyCode === 221 || evtobj.keyCode === 'BracketRight') {
			add_timestamp('end_of_point');
			}
	}

	document.onkeydown = KeyPress;
	/*
	document.addEventListener('keydown', function (event) {
		if (event.defaultPrevented) {
			return;
		}

		var key = event.key || event.keyCode;

		// slice and dice
		
		// ~2. frame step backwards
		if (key === 'q' || key === 81 || key === 'KeyQ') {
			// slower/choppier than frame-stepping forward?
			UserVideo.currentTime -= frame_length;
			pause_video();
		}
		
		// ~3. frame step forwards
		else if (key === 'e' || key === 69 || key === 'KeyE') {
			UserVideo.currentTime += frame_length;
			pause_video();
		}

		// ~4. fast forward
		else if (key === 'c' || key === 67 || key === 'KeyC') {
			UserVideo.playbackRate = fast_forward_rewind_speed;
			pause_video();
		}
		
	});
	*/


	///////// I guess this function runs the file(s) that were inputed by the user? ////////////

	

	(function localFileVideoPlayer() {
		
		'use strict'
		var URL = window.URL || window.webkitURL
		
		var displayMessage = function (message, isError) {
			var element = document.querySelector('#message')
			element.innerHTML = message
			element.className = isError ? 'error' : 'info'
		}

		var playSelectedFile = function (event) {
			var file = this.files[0]
			var type = file.type
			var videoNode = document.querySelector('video')
			var canPlay = videoNode.canPlayType(type)
			if (canPlay === '') canPlay = 'no'
			var message = 'Can play type "' + type + '": ' + canPlay + this.files.length
			var isError = canPlay === 'no'
			displayMessage(message, isError)

			if (isError) {
			return
			}

			var fileURL = URL.createObjectURL(file)
			videoNode.src = fileURL

		}
		var inputNode = document.querySelector('input')
		// if anything concerning the "input" is modified, then 'playSelectedFile()' is run.
		inputNode.addEventListener('change', playSelectedFile, false)
	})()



	///////// User control functions //////////// 



	function play_pause_video() {
		if (UserVideo.paused) {
				UserVideo.playbackRate = 1
				UserVideo.play()
			}
			else {
				UserVideo.pause();
			}
	}

	function pause_video() {
		UserVideo.pause();
	}

	function play_video() {
		UserVideo.play()
	}

	function skip_to_start() {
		UserVideo.currentTime = 0;
	}

	function skip_to_end() {
		UserVideo.currentTime = UserVideo.duration;
	}

	function fast_forward() {
		// let's toggle it
		if (UserVideo.playbackRate === 1) {
			UserVideo.playbackRate = fast_forward_rewind_speed;
		}
		else if (UserVideo.playbackRate > 1) {
			UserVideo.playbackRate = 1;
		}
		UserVideo.play();
	}

	function fast_rewind() {
		// let's toggle it
		if (UserVideo.playbackRate === 1) {
			UserVideo.playbackRate = -fast_forward_rewind_speed;
		}
		else if (UserVideo.playbackRate > 1) {
			UserVideo.playbackRate = 1;
		}
	}

	function skip_forward_by_increment() {
		UserVideo.currentTime += time_jump_duration;
		//pause_video();
	}

	function skip_backward_by_increment() {
		UserVideo.currentTime -= time_jump_duration;
		//pause_video();
	}

	function frame_step_forward() {
		UserVideo.currentTime += frame_length;
		pause_video();
	}

	function frame_step_backward() {
		UserVideo.currentTime -= frame_length;
		pause_video();
	}



	

	// I guess there's no toggle available yet?
	function go_to_fullscreen() {
		UserVideo.webkitRequestFullScreen();
	}
	
	
	
	///////////////////////////////
	////////////////////////////////
	/////////////////////////////////
	// UI
	////////////////////////
	/////////////////////////////
	////////////////////////////////

	// introduce each canvas
	var canvas1_baseui = document.getElementById('canvas1_baseui');
	var canvas2_video = document.getElementById('canvas2_video');
	var canvas3_timeline = document.getElementById('canvas3_timeline');
	var canvas4_timeline_cursor = document.getElementById('canvas4_timeline_cursor');

	// set the play area for each canvas (for loop? for an array of canvases?)
	canvas1_baseui.width = window.innerWidth;
	canvas1_baseui.height = window.innerHeight;
	
	canvas2_video.width = window.innerWidth;
	canvas2_video.height = window.innerHeight;
	
	canvas3_timeline.width = window.innerWidth;
	canvas3_timeline.height = window.innerHeight;
	
	canvas4_timeline_cursor.width = window.innerWidth;
	canvas4_timeline_cursor.height = window.innerHeight;

	// set the "context" for each canvas
	var ctx1_baseui = canvas1_baseui.getContext('2d');
	var ctx2_video = canvas2_video.getContext('2d');
	var ctx3_timeline = canvas3_timeline.getContext('2d');
	var ctx4_timeline_cursor = canvas4_timeline_cursor.getContext('2d');

	// mouse object
	var mouse = {
		x: undefined,
		y: undefined
	} 

	// timeline variables:
	currently_dragged = false;
	timeline_height_factor = 7;
	timeline_bar_thickness = 5;
		
	// Drawing functions ////////////////////////////////
	// the exterior timeline bar.
	function draw_timeline_bar() {
		// update video location variables (maybe call this on video resizes only)
		video_location = UserVideo.getBoundingClientRect();
		video_width = video_location.right-video_location.left
		video_height = video_location.bottom-video_location.top

		// clear this canvas
		ctx3_timeline.clearRect(0, 0, window.innerWidth, window.innerHeight);
		
		ctx3_timeline.fillStyle = 'grey';
		// top bar
		ctx3_timeline.fillRect(video_location.left-timeline_bar_thickness, video_location.bottom, video_width+10, timeline_bar_thickness);
		// bottom bar
		ctx3_timeline.fillRect(video_location.left-timeline_bar_thickness, video_location.bottom+(video_height/timeline_height_factor), video_width+10, timeline_bar_thickness);
		// left bar
		ctx3_timeline.fillRect(video_location.left-timeline_bar_thickness, video_location.bottom+1, timeline_bar_thickness, video_height/timeline_height_factor);
		// right bar
		ctx3_timeline.fillRect(video_location.right, video_location.bottom+1, timeline_bar_thickness, video_height/timeline_height_factor);
	}


	function draw_timeline_cursor() {
		// update video location (maybe call this on video resizes only)
		video_location = UserVideo.getBoundingClientRect();
		video_width = video_location.right-video_location.left;
		video_height = video_location.bottom-video_location.top



		//Display the timeline "cursor"// clear this canvas
		ctx4_timeline_cursor.clearRect(0, 0, window.innerWidth, window.innerHeight);

		//////////////////////// draw the point markers -> note: make this a canvas in between 3 (timeline) and 4 (cursor)?
		
			for (var point_index = 0; point_index < timestamps.length; point_index++) {
				// alternate bar colours for visibility
				if (point_index % 2 == 0) {
					ctx4_timeline_cursor.fillStyle = '#046380';
				}
				else {
					ctx4_timeline_cursor.fillStyle = '#A7A37E';
				}		

				// scale the point timestamps -> position on the timeline first
			// ooo -> make a function for that -> time_to_timeline_position() {} and timeline_position_to_time() {}
			start_point_pos = ((timestamps[point_index][0] / UserVideo.duration) * video_width) + video_location.left;
			end_point_pos = ((timestamps[point_index][1] / UserVideo.duration) * video_width) + video_location.left;

			// "draw" the point on the timeline
			ctx4_timeline_cursor.fillRect(start_point_pos, video_location.bottom+timeline_bar_thickness, end_point_pos-start_point_pos, video_height/timeline_height_factor-timeline_bar_thickness);
			}


		//////////////////////////////////////// draw the timeline cursor (black; mouse) line.
		// get the cursor location
		if (mouse.x < video_location.left) {
			cursor_location = video_location.left;
		}
		else if (mouse.x > video_location.left + video_width) {
			cursor_location = video_location.left + video_width;
		}
		else {
			cursor_location = mouse.x-1;
		}
		


		// "timeline cursor" bar.
		// "currently dragged" behaviour -> select an element?
		if (currently_dragged) {
			// skip to selected point in the video timeline.
			// ... (the opposite of 'current_location') -> cursor_location to time in seconds.

			// make sure the cursor is "in the box" when "seeking"
			if ((mouse.x >= video_location.left-timeline_bar_thickness) && (mouse.x <= video_location.left + video_width+timeline_bar_thickness) && (mouse.y >= video_location.bottom) && (mouse.y <= (video_height/timeline_height_factor)+video_location.bottom+timeline_bar_thickness)) {
				UserVideo.currentTime = ((cursor_location - video_location.left)/video_width)*UserVideo.duration;
			}
			
		}
		else {
			ctx4_timeline_cursor.fillStyle = 'black';
		}
		ctx4_timeline_cursor.fillRect(cursor_location, video_location.bottom+timeline_bar_thickness, 1, (video_height/timeline_height_factor)-timeline_bar_thickness);



		///////////////////////////////////////////// draw the "currentTime" (red) line.

		// get the currentTime x.location to scale (AKA convert time in seconds to a position on the timeline)
		progress_location = ((UserVideo.currentTime / UserVideo.duration) * video_width) + video_location.left;
		ctx4_timeline_cursor.fillStyle = 'red';
		ctx4_timeline_cursor.fillRect(progress_location, video_location.bottom+timeline_bar_thickness, 1, (video_height/timeline_height_factor)-timeline_bar_thickness);


		///////////////////////////////////////////// draw the start and end points
		/*
		- no gaps
		- may have to resize/rescale the timeline after each change
		- may need a "scrolling" timeline (or a timeline zoom in/out) later.

		1. for now: show gaps
		2. add a keyboard shortcut for "next/previous point" (maybe : and ' keys?)
		*/


		///////////////////////// draw time, edit length, etc.
		ctx4_timeline_cursor.fillStyle = 'black';
		ctx4_timeline_cursor.font = "10px Arial";

		//ctx4_timeline_cursor.fillText("Point Timestamps: " + JSON.stringify(timestamps), video_location.left,video_location.bottom+70);	

		ctx4_timeline_cursor.fillText("Edit Length: " + get_edit_length(timestamps), video_location.left,video_location.bottom+video_height/timeline_height_factor+timeline_bar_thickness*3);	

		ctx4_timeline_cursor.fillText(seconds_to_mins_secs(UserVideo.currentTime) + "/" + seconds_to_mins_secs(UserVideo.duration), video_location.right-timeline_bar_thickness-50, video_location.bottom+video_height/timeline_height_factor+timeline_bar_thickness*3);			
	}

	// event listener
	// mouse movement behaviour
	window.addEventListener('mousemove', function(event)
	{
		mouse.x = event.x;
		mouse.y = event.y;
		draw_timeline_cursor();
	})


	// things to draw at the start:
	draw_timeline_bar();

	// mouse click and hold behaviour
	var mouseIsDown = false; // status of mouse click (maybe we could specify left/right click later.)

	window.addEventListener('mousedown', function() {
		mouseIsDown = true;
		setTimeout(function() {
			if (mouseIsDown) {
				console.log('hold');
				currently_dragged = true;
				draw_timeline_cursor();
			}
		});
	});

	window.addEventListener('mouseup', function() {
		mouseIsDown = false;
		console.log('release');
		currently_dragged = false;
		draw_timeline_cursor();
	});



	/////////////////////
	//////////////////////////////////////////
	///////// Video editing events //////////// 
	//////////////////////////////////////////////
	/////////////


	// add start/end timestamps
	function add_timestamp(timestamp_type) {
		if (timestamp_type === 'start_of_point') {
			// add to end -> but fix this later (for non-linear user timestamp inputs)

			// make sure that there aren't two "start points" in a row.
			if (timestamps[timestamps.length-1][1] != null) {
			timestamps.push([]);
			}
			timestamps[timestamps.length-1][0] = UserVideo.currentTime;
		}

		else if (timestamp_type === 'end_of_point') {
			// add to end -> but fix later (see below)
			timestamps[timestamps.length-1][1] = UserVideo.currentTime;
		}

		// insert the timestamp in the correct timestamp[index]
		// ... so that the elements are non-decreasing.
	}

	// "undo"/remove a point from "timestamps" array
	function clear_current_point() {
		if (timestamps.length > 1) {
			timestamps = timestamps.slice(0, -1)
			play_edit(UserVideo)
		}	
	}

	function seconds_to_mins_secs(time_in_seconds) {
		// 2. convert seconds to min:secs
		// (stack overflow)
		// Hours, minutes and seconds

		var hrs = ~~(time_in_seconds / 3600); // it appears that '~~' is a "faster" version of Math.floor()
		var mins = ~~((time_in_seconds % 3600) / 60);
		var secs = Math.round(time_in_seconds % 60);

		// Output like "1:01" or "4:03:59" or "123:03:59"
		var formatted_time = "";

		if (hrs > 0) {
			formatted_time += "" + hrs + ":" + (mins < 10 ? "0" : "");
		}

		formatted_time += "" + mins + ":" + (secs < 10 ? "0" : "");
		formatted_time += "" + secs;
		return formatted_time;
	}

	// get the length (in seconds) of the user's edit
	function get_edit_length(timestamps) {
		edit_length = 0
		
		// 1. get the "edit_length" (total number of seconds)
		for (var point_index = 0; point_index < timestamps.length; point_index++) {
			// only check for time if the "point" is "complete"
			if (timestamps[point_index].length === 2) {
				edit_length += (timestamps[point_index][1] - timestamps[point_index][0])
			}

			// though, do a running tally of the current point.
			else {
				if (UserVideo.currentTime >= timestamps[timestamps.length-1][0]) {
					edit_length += (UserVideo.currentTime - timestamps[timestamps.length-1][0])
				}
				
			}
		}
	
		// 2. convert seconds to min:secs
		return seconds_to_mins_secs(edit_length);
	}

	function play_edit(UserVideo) {
		// I guess timestamps[0] is a placeholder for now
		// ... to prevent an off-by-one error in the if/else statements below
		// ... ([previous] point_index would be out of timestamp index.)
		
		document.getElementById("user_timestamps").innerHTML = JSON.stringify(timestamps);

		// must ensure that the values in "timestamps" are strictly increasing.
		// check each point in 'timestamps'
		for (var point_index = 1; point_index < timestamps.length-1; point_index++) {
			// 
			if (UserVideo.currentTime > timestamps[point_index-1][1] && UserVideo.currentTime < timestamps[point_index][0] && UserVideo.currentTime < timestamps[point_index+1][0]) {
				UserVideo.currentTime = timestamps[point_index][0];
			}
			// go to next point
			else if (UserVideo.currentTime > timestamps[point_index-1][1] && UserVideo.currentTime >= timestamps[point_index][1] && UserVideo.currentTime < timestamps[point_index+1][0]) {
				UserVideo.currentTime = timestamps[point_index+1][0];
			}

			// pause (or maybe loop?) after last point in the video.
			/*if (UserVideo.currentTime > timestamps[timestamps.length-1][1]) {
				pause_video();
			}*/
		}

		draw_timeline_bar();
		draw_timeline_cursor()
	}

	// Run play_edit() this many times? -> https://stackoverflow.com/questions/12325787/setting-the-granularity-of-the-html5-audio-event-timeupdate
	UserVideo.addEventListener("timeupdate", play_edit);







</script>


{% endblock %}


