{% extends "layout.html" %}
{% block body %}



<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <div class="container">
    <div class="col-md-12">
      <div id="message"></div>
      <div>Playback position: <span id="demo"></span></div>
      <div>Start Points: <span id="user_timestamps"></span></div>
      <div>Edit Length: <span id="edit_length"></span></div>
      
      <input multiple id="choose_file" type="file" accept="video/*"/>
      
      <br><br/>
      
      <style>
      .overlay {
          height: 10%;
          width: 20%;
          position: absolute;
          bottom: 5%;
          left: 5%;
          z-index: 2;
          background: white;
          opacity: 0.35;
        }

        table {
            font-size:2vw;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {

            border: 1px solid #dddddd;
            text-align: left;
            padding: 1px;
        }
      </style>

      <!-- Could be the scoreboard? -->
      <div class="overlay">
        <table border=1 frame=void rules=rows>
          <tr>
            <th>Player 1</th>
            <th>1</th>
            <th>0</th>
            <th>40</th>
          </tr>
          <tr>
            <td>Player 2</td>
            <td>2</td>
            <td>0</td>
            <td>15</td>
          </tr>
        </table>
       </div>
      
      <!-- Video preview -->
      <video width="100%" id="UserVideo" autoplay ontimeupdate='play_edit(this)'></video>

      <!-- Progress/seek bar? -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
  <!-- /.container -->

</form>




<!-- keyboard events -->
<script type="text/javascript">
  
  // Video variables
  //var UserVideo = document.getElementById("UserVideo");
  var frames_per_second = 60
  var frame_length = 1/frames_per_second
  var timestamps = [[0,0],[10659.624991,10677.247378],[10705.653607,10713.585325],[10740.439974,10747.468202],[10774.526869,10781.634575],[10806.361122,10811.59813],[10838.100636,10850.915273],[10916.399675,10926.900285],[10958.368933,10980.987089],[11019.052785,11040.202575],[11075.293328,11095.853087]];
  var time_jump_duration = 5
  var fast_forward_rewind_speed = 5

  ///////// keypresses.../////////////////////

  document.addEventListener('keyup', function (event) {
    if (event.defaultPrevented) {
      return;
    }

    var key = event.key || event.keyCode;

    //// moving around

    // 1. pause/play
    if (key === 's' || key === 83 || key === 'KeyS') {
      if (UserVideo.paused) {
        UserVideo.playbackRate = 1
        UserVideo.play()
      }
      else {
        UserVideo.pause();
      }
    }

    //// slice and dice
    
    // 2. frame step backwards
    else if (key === 'q' || key === 81 || key === 'KeyQ') {
      UserVideo.pause();
    }
    
    // 3. frame step forwards
    else if (key === 'e' || key === 69 || key === 'KeyE') {
      UserVideo.pause();
    }

    // 4. fast forward
    else if (key === 'c' || key === 67 || key === 'KeyC') {
      UserVideo.pause();
    }


    // ... some more traversing ... (related to video cuts though)
    
    // 5. skip backward 10 seconds
    else if (key === 'a' || key === 65 || key === 'KeyA') {
      UserVideo.currentTime -= time_jump_duration
      UserVideo.play()
    }
    
    // 5. skip forward 5 seconds
    else if (key === 'd' || key === 68 || key === 'KeyD') {
      UserVideo.currentTime += time_jump_duration
      UserVideo.play()
    }
    
    // 5b. go back to start
    else if (key === 'o' || key === 79 || key === 'KeyO') {
      UserVideo.currentTime = 0
    }
    
    // 5c. skip to end
    else if (key === 'p' || key === 80 || key === 'KeyP') {
      UserVideo.currentTime = UserVideo.duration
    }

    // ~4. stop fast forward, go back to normal playback speed.
    else if (key === 'c' || key === 67 || key === 'KeyC') {
      UserVideo.playbackRate = 1
      UserVideo.play()
    }

  });

  // from S.O.
  function KeyPress(e) {
    var evtobj = window.event ? event : e
    if (evtobj.keyCode == 90 && evtobj.ctrlKey) {
      clear_current_point()
    } 

    // 6. fullscreen
    else if (evtobj.keyCode === 'f' || evtobj.keyCode === 70 || evtobj.keyCode === 'KeyF') {
      UserVideo.webkitRequestFullScreen();
      }

    // 7. start of point
    else if (evtobj.keyCode === '[' || evtobj.keyCode === 219 || evtobj.keyCode === 'BracketLeft') {
      add_timestamp('start_of_point');
      }  

    // 8. end of point
    else if (evtobj.keyCode === ']' || evtobj.keyCode === 221 || evtobj.keyCode === 'BracketRight') {
      add_timestamp('end_of_point');
      }
  }

  document.onkeydown = KeyPress;

  document.addEventListener('keydown', function (event) {
    if (event.defaultPrevented) {
      return;
    }

    var key = event.key || event.keyCode;

    // slice and dice
    
    // ~2. frame step backwards
    if (key === 'q' || key === 81 || key === 'KeyQ') {
      UserVideo.pause();
      // slower/choppier than frame-stepping forward?
      UserVideo.currentTime -= frame_length
      UserVideo.pause();
    }
    
    // ~3. frame step forwards
    else if (key === 'e' || key === 69 || key === 'KeyE') {
      UserVideo.currentTime += frame_length
      UserVideo.pause();
    }

    // ~4. fast forward
    else if (key === 'c' || key === 67 || key === 'KeyC') {
      UserVideo.playbackRate = fast_forward_rewind_speed
      UserVideo.play()
    }
    
  });
  


  ///////// I guess this function runs the file(s) that were inputed by the user? ////////////

  

  (function localFileVideoPlayer() {
  'use strict'
  var URL = window.URL || window.webkitURL
  var displayMessage = function (message, isError) {
    var element = document.querySelector('#message')
    element.innerHTML = message
    element.className = isError ? 'error' : 'info'
  }
  var playSelectedFile = function (event) {

    var file = this.files[0]

    var type = file.type
    var videoNode = document.querySelector('video')
    var canPlay = videoNode.canPlayType(type)
    if (canPlay === '') canPlay = 'no'
    var message = 'Can play type "' + type + '": ' + canPlay + this.files.length
    var isError = canPlay === 'no'
    displayMessage(message, isError)

    if (isError) {
    return
    }

    var fileURL = URL.createObjectURL(file)
    videoNode.src = fileURL

  }
  var inputNode = document.querySelector('input')
  inputNode.addEventListener('change', playSelectedFile, false)
  })()



  ///////// Video editing events //////////// 



  // add start/end timestamps
  function add_timestamp(timestamp_type) {
    if (timestamp_type === 'start_of_point') {
      // add to end -> but fix this later (for non-linear user timestamp inputs)

      // make sure that there aren't two "start points" in a row.
      if (timestamps[timestamps.length-1][1] != null) {
      timestamps.push([]);
      }
      timestamps[timestamps.length-1][0] = UserVideo.currentTime;
    }

    else if (timestamp_type === 'end_of_point') {
      // add to end -> but fix later (see below)
      timestamps[timestamps.length-1][1] = UserVideo.currentTime;
    }

    // insert the timestamp in the correct timestamp[index]
    // ... so that the elements are non-decreasing.
  }

  // "undo"/remove a point from "timestamps" array
  function clear_current_point() {
    if (timestamps.length > 1) {
      timestamps = timestamps.slice(0, -1)
      play_edit(UserVideo)
    } 
  }

  // get the length (in seconds) of the user's edit
  function get_edit_length(timestamps) {
    edit_length = 0
    for (var point_index = 0; point_index < timestamps.length; point_index++) {
      // only check for time if the "point" is "complete"
      if (timestamps[point_index].length === 2) {
        edit_length += (timestamps[point_index][1] - timestamps[point_index][0])
      }

      // though, do a running tally of the current point.
      else {
        edit_length += (UserVideo.currentTime - timestamps[timestamps.length-1][0])
      }
    }
  
    // js convert seconds to minutes:seconds (stack overflow)
    // Hours, minutes and seconds

    var hrs = ~~(edit_length / 3600); // it appears that '~~' is a "faster" version of Math.floor()
    var mins = ~~((edit_length % 3600) / 60);
    var secs = Math.round(edit_length % 60);

    // Output like "1:01" or "4:03:59" or "123:03:59"
    var formatted_time = "";

    if (hrs > 0) {
        formatted_time += "" + hrs + ":" + (mins < 10 ? "0" : "");
    }

    formatted_time += "" + mins + ":" + (secs < 10 ? "0" : "");
    formatted_time += "" + secs;
    return formatted_time;

  }

  function play_edit(UserVideo) {
    // I guess timestamps[0] is a placeholder for now
    // ... to prevent an off-by-one error in the if/else statements below
    // ... ([previous] point_index would be out of timestamp index.)
    
    //var timestamps = [[0, 0]];

    // The currentTime property returns the current position of the audio/video playback
    document.getElementById("demo").innerHTML = UserVideo.currentTime;

    readable_timestamps = JSON.stringify(timestamps);
    document.getElementById("user_timestamps").innerHTML = readable_timestamps;
    document.getElementById("edit_length").innerHTML = get_edit_length(timestamps);

    // must ensure that the values in "timestamps" are strictly increasing.
    // check each point in 'timestamps'
    for (var point_index = 1; point_index < timestamps.length-1; point_index++) {
      // 
      if (UserVideo.currentTime > timestamps[point_index-1][1] && UserVideo.currentTime < timestamps[point_index][0] && UserVideo.currentTime < timestamps[point_index+1][0]) {
        UserVideo.currentTime = timestamps[point_index][0];
      }
      // go to next point
      else if (UserVideo.currentTime > timestamps[point_index-1][1] && UserVideo.currentTime >= timestamps[point_index][1] && UserVideo.currentTime < timestamps[point_index+1][0]) {
        UserVideo.currentTime = timestamps[point_index+1][0];
      }

      // pause (or maybe loop?) after last point in the video.
      /*if (UserVideo.currentTime > timestamps[timestamps.length-1][1]) {
        UserVideo.pause();
      }*/
    }

    /*if (UserVideo.currentTime < timestamps[0][0]) {
      UserVideo.currentTime = timestamps[0][0];
    }

    if (UserVideo.currentTime >= timestamps[0][1] && UserVideo.currentTime < timestamps[1][0]) {
      UserVideo.currentTime = timestamps[1][0];
    }*/

    /*if (UserVideo.currentTime >= timestamps[1][1] && UserVideo.currentTime < timestamps[2][0]) {
      UserVideo.currentTime = timestamps[2][0];
    }

    if (UserVideo.currentTime >= timestamps[2][1]) {
      UserVideo.pause();
    }*/
  }

  // Run play_edit() this many times? -> https://stackoverflow.com/questions/12325787/setting-the-granularity-of-the-html5-audio-event-timeupdate
  UserVideo.addEventListener("timeupdate", play_edit);

</script>


{% endblock %}


